body,button,input,select,textarea {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

code,pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: monospace;
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

a {
    color: #485fc7;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    color: #363636
}

/*vamtyc-admin*/

main {
    max-width: none;
    width: 100%;
    padding: 3rem 1.5rem;
}

.keyword {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #eff5fb;
    color: #296fa8;
    border-radius: 0.375em;
    font-size: .75rem;
    height: 2em;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    margin-right: 0.5em;
    font-family: monospace;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1em;
    text-align: center;
    vertical-align: top;
    color: #7a7a7a;
}

/*:List*/

.list {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative
}

.list > header {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    background-color: transparent;
    color: #363636;
    font-weight: 700;
    padding: 0.75rem 1rem;
    box-shadow: 0 0.125em 0.25em rgba(10,10,10,.1);
}

.list > header form {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.list > header input {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    vertical-align: top;
    max-width: 100%;
    width: 100%;
    height: 2.5em;
    line-height: 1.5;
    font-size: 1rem;
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #363636;
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
    -webkit-appearance: none;
}

.list > header input:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 0.125em rgba(72,95,199,.25);
    outline-color: #485fc7;
}

.list .items .list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #363636;
    padding: 0.5em 0.75em;
}

.list .items .list-item:not(:last-child) {
    border-bottom: 1px solid #ededed;
}

.list .items .list-item div {
    display: flex;
}

.list .items .list-item .icon {
    margin-right: 0.5em;
}

.list .items .list-item section {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.list .items .list-item section > header {
    margin-bottom: .75rem;
}

.list .items .list-item section > p {
    font-size: 1rem;
    color: hsl(0, 0%, 48%);
}

.list footer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-top: 1px solid #ededed;
    padding: 0.75rem 1rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.list footer .icon {
    font-size: .75rem;
}

.list footer .is-active .icon {
    color: hsl(141, 71%, 48%);
}

/*route*/

.route .str-route {
    display: inline-flex;
    font-family: monospace;
}

.route .method {
    min-width: 4rem;
}

/*queryp*/

.queryp .name {
    display: inline-flex;
    font-family: monospace;
    min-width: 5rem;
}
