body,button,input,select,textarea {
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

code,pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-family: monospace;
    white-space: pre-wrap;
}

html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5
}

a {
    color: #485fc7;
    cursor: pointer;
    text-decoration: none
}

a:hover {
    color: #363636
}

table {
    background-color: #fff;
    color: #363636;
}

table thead {
    background-color: transparent;
}

table th {
    padding: 0.25em 0.5em;
    text-align: left;
    vertical-align: top;
    border-width: 0 0 2px;
    color: #363636;
}

table tbody {
    background-color: transparent;
}

table td{
    padding: 0.25em 0.5em;
    text-align: inherit;
    border: 1px dotted #dbdbdb;
    border-width: 0 0 1px;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    color: #363636;
    font-weight: 600;
    line-height: 1.125;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.75em;
    margin-bottom: 0.5714em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.6666em;
}

h4 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
}

h5 {
    font-size: 1.125em;
    margin-bottom: 0.8888em;
}

h6 {
    font-size: 1em;
    margin-bottom: 1em;
}

/*vamtyc-admin*/

/*layout*/

html,
body,
.main,
.workspace {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

p > small {
    color: hsl(0, 0%, 71%);
    margin-right: 1em;
}

header small > i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #7a7a7a;
    margin-right: 0.5em;
}

main > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    color: hsl(0, 0%, 71%);
    padding: 1rem 1rem;
}

.global-actions a {
    background-color: #eff1fa;
    color: #3850b7;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: transparent;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

.workspace {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid #ededed;
    border-radius: 0.25rem;
}

.explorer {
    display: flex;
    align-self: stretch;
    flex-grow: 0.3;
    flex-basis: 30%;
    overflow-y: scroll;
}

.editor {
    display: flex;
    align-self: stretch;
    flex-grow: 0.7;
    flex-basis: 70%;
    background-color: hsl(0, 0%, 96%);
    border-radius: .25rem;
    box-shadow: inset 0 0 1em -.125em rgba(10,10,10,.1), inset 0 0 0 1px rgba(10,10,10,.02);
    padding: 1rem
}

.editor > section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid #ededed;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    flex-grow: 1;
}

.editor > section > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    color: #363636;
    font-weight: 700;
    padding: 0.75rem 1rem;
    margin-bottom: 0.25em;
}

.editor > section > header > nav {
    display: flex;
    align-items: center;
}

.editor > section > header > nav i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    width: 1rem;
    height: 1rem;
    line-height: 1em;
    text-align: center;
    vertical-align: top;
    color: hsl(141, 71%, 48%);
}

.editor > section > section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    padding: 0.75rem 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.editor > section > footer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-top: 1px solid #ededed;
    padding: 0.75rem 1rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

/*components*/

.keyword {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #eff5fb;
    color: #296fa8;
    border-radius: 0.375em;
    font-size: .75rem;
    height: 2em;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin-right: 0.5em;
    font-family: monospace;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.keyword.is-active {
    border-bottom: 3px solid #485fc7;
}

.keyword.kw-1 {
    background-color: hsl(0, 0%, 98%);
}

.keyword.kw-2{
    background-color: hsl(142, 52%, 96%);
}

.keyword.kw-3{
    background-color: #eff1fa;
    color: #3850b7;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1em;
    text-align: center;
    vertical-align: top;
    color: #7a7a7a;
}

/*:List*/

.explorer .list {
    border-radius: unset;
    box-shadow: unset;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    min-width: 100%;
    max-width: 100%;
    position: relative
}

.list > header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: transparent;
    color: #363636;
    font-weight: 700;
    padding: 0.75rem 1rem;
    box-shadow: 0 0.125em 0.25em rgba(10,10,10,.1);
}

.list > header form {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.list > header input,
.list > header textarea {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    vertical-align: top;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: .75rem;
    padding: calc(0.5em - 1px) calc(0.75em - 1px);
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #363636;
    box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
    -webkit-appearance: none;
    font-family: monospace;
}

.list > header input:focus,
.list > header textarea:focus {
    border-color: #485fc7;
    box-shadow: 0 0 0 0.125em rgba(72,95,199,.25);
    outline-color: #485fc7;
}

.list > header input {
    height: 2.5em;
}


.list .items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.list .items .list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #363636;
    padding: 0.5em 0.75em;
    border-left: 3px solid #f5f5f5;
}

.list .items .list-item:hover {
    background-color: #f5f5f5;
}

.list .items .list-item.is-selected {
    background-color: #f5f5f5;
    border-left: 3px solid #48c78e;
}

.list .items .list-item:not(:last-child) {
    border-bottom: 1px solid #ededed;
}

.list .items .list-item div {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
}

.list .items .list-item .icon {
    margin-right: 0.5em;
}

.list .items .list-item section {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    overflow: hidden;
}

.list .items .list-item section > header {
    display: flex;
    flex-grow: 1;
    margin-bottom: .75rem;
    overflow: hidden;
}

.list .items .list-item section > p {
    font-size: 1rem;
    color: hsl(0, 0%, 48%);
}

.list footer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-top: 1px solid #ededed;
    padding: 0.75rem 1rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.list footer .icon {
    font-size: .75rem;
}

.list footer .is-active .icon {
    color: hsl(141, 71%, 48%);
}
